td, th {
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
table {
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
}

thead{
    background-color: dodgerblue;
    color: #fff;
}
