<div class="d-flex align-items-center justify-content-center bg-light" style="padding-top: 10px;">
  <div class="card shadow-lg p-4" style="width: 90%; border-radius: 15px;">
    <div class="row">
      <div class="col-md-12 mb12 text-center ">
        <h4 class="fw-bold">Your orders history!</h4>
      </div>
    </div>
    <div class="row text-center ">
      <table>
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Total</th>
            <th>Recepient</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders">
            <td>{{o.orderHeaderId}}
            </td>
            <td>
              {{o.orderOn | date:'dd/MM/yyyy HH:mm'}}
            </td>
            <td>{{o.status}}
            </td>
            <td>{{o.orderTotal}}
            </td>
            <td>
              <strong>{{o.name}}</strong><br />{{o.email}}
            </td>
            <td>{{o.address}}, {{o.city}}<br /> {{o.state}}, {{o.zip}}
            </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center mt-12">
      &nbsp;
    </div>
  </div>
</div>
