<div class="d-flex align-items-center justify-content-center bg-light" style="padding-top: 10px;">
  <div class="card shadow-lg p-4" style="width: 90%; border-radius: 15px;">
    <div class="row">
      <div class="col-md-12 mb12 text-center ">
        <h4 class="fw-bold">Congratulations! Your order has been placed.</h4>
        <p class="text-muted">Order ID&nbsp;-&nbsp;{{orderId}}</p>
      </div>
    </div>
    <div class="row text-center ">
      <p>
        <img src="./assets/images/thankyou.png" alt="Thankyou" />
      </p>
    </div>
    <div class="text-center mt-12">
      <a routerLink="/myorders" class="fw-semibold">You can check your order status</a>
    </div>
  </div>
</div>
